<h1>Sign In</h1>

<p class="flash"><%= flash.notice %></p>

<%= form_for :session, url: login_path do |f| %>
  <%= f.label :email_address %><br />
  <%= f.text_field :email_address %><br />

  <%= f.label :password %><br />
  <%= f.text_field :password %><br />

  <%= f.submit "Login" %>
<% end %>

<%= link_to 'Create an Account', new_user_path %>
